@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color : #0D0D3F;
    scrollbar-width: none;
}

header, footer, .spotifyDiv, .buyAlbumButton, .dates-container {
    background-color: var(--main-color);
}

.markDark {
    color: var(--main-color);
}

.dates-container {
    border-left: 6px solid var(--main-color);
}

.text-custom {
 color: var(--main-color);
}

.datesExtendContainer:focus {
    background-color: var(--main-color);
    color: white;
}

/* Hide scrollbar for Google */
::-webkit-scrollbar {
    display: none;
    overflow: auto;
}